In [96]:
import pandas as pd
from IPython.display import display
import numpy as np
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn import preprocessing
from sklearn import cross_validation
import matplotlib.pyplot as plt
from sklearn.metrics import *

C:\Users\Shiva\Anaconda2\lib\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Shiva\Anaconda2\lib\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [129]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [140]:
import os
os.chdir('C:\\Carlson MSBA\\K\\Insurance\\')
train = pd.read_csv("train.csv")

In [141]:
data.head()

,cat1,cat10,cat100,cat101,cat102,cat103,cat104,cat105,cat106,cat107,...,cont14,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,id
0,0,0,1,6,0,0,8,4,6,9,...,0.714843,0.245921,0.187583,0.789639,0.310061,0.718367,0.335060,0.30260,0.67135,1
1,0,1,11,5,0,0,4,4,8,10,...,0.304496,0.737068,0.592681,0.614134,0.885834,0.438917,0.436585,0.60087,0.35127,2
2,0,1,11,14,0,1,4,5,7,5,...,0.774425,0.358319,0.484196,0.236924,0.397069,0.289648,0.315545,0.27320,0.26076,5
3,1,0,8,3,0,0,4,4,8,10,...,0.602642,0.555782,0.527991,0.373816,0.422268,0.440945,0.391128,0.31796,0.32128,10
4,0,1,5,9,0,0,3,4,10,6,...,0.432606,0.159990,0.527991,0.473202,0.704268,0.178193,0.247408,0.24564,0.22089,11

In [142]:
test = pd.read_csv("test.csv")

In [143]:
print train.shape
print test.shape

(188318, 132)
(125546, 131)

In [144]:
test["loss"] = 1

In [150]:
data = pd.concat([train, test])

In [154]:
#a = pd.factorize(train.ix[:,29])
def LabelEncoder(data):
    features = data.columns
    cats = [feat for feat in features if 'cat' in feat]
    for feat in cats:
        data[feat] = pd.factorize(data[feat], sort=True)[0]
    return data

In [156]:
Factorized_Data = LabelEncoder(data)

In [157]:
data.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,0,1,0,1,0,0,0,0,1,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,0,1,0,0,0,0,0,0,1,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,0,1,0,0,1,0,0,0,1,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,1,1,0,1,0,0,0,0,1,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,0,1,0,1,0,0,0,0,1,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [158]:
display(data.tail())
display(Factorized_Data.tail())

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
125541,587617,0,0,0,1,0,0,0,0,0,...,0.438917,0.815941,0.39455,0.48740,0.40666,0.550529,0.538473,0.298734,0.345946,1.0
125542,587621,0,0,0,0,1,1,0,1,0,...,0.346948,0.424968,0.47669,0.25753,0.26894,0.324486,0.352251,0.490001,0.290576,1.0
125543,587627,1,1,0,0,1,0,0,0,1,...,0.808958,0.511502,0.72299,0.94438,0.83510,0.933174,0.926619,0.848129,0.808125,1.0
125544,587629,0,0,0,0,0,1,0,1,0,...,0.372125,0.388545,0.31796,0.32128,0.36974,0.307628,0.301921,0.608259,0.361542,1.0
125545,587634,0,1,0,0,0,0,0,0,1,...,0.221699,0.242044,0.25461,0.31399,0.25183,0.245410,0.241676,0.287682,0.220323,1.0

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
125541,587617,0,0,0,1,0,0,0,0,0,...,0.438917,0.815941,0.39455,0.48740,0.40666,0.550529,0.538473,0.298734,0.345946,1.0
125542,587621,0,0,0,0,1,1,0,1,0,...,0.346948,0.424968,0.47669,0.25753,0.26894,0.324486,0.352251,0.490001,0.290576,1.0
125543,587627,1,1,0,0,1,0,0,0,1,...,0.808958,0.511502,0.72299,0.94438,0.83510,0.933174,0.926619,0.848129,0.808125,1.0
125544,587629,0,0,0,0,0,1,0,1,0,...,0.372125,0.388545,0.31796,0.32128,0.36974,0.307628,0.301921,0.608259,0.361542,1.0
125545,587634,0,1,0,0,0,0,0,0,1,...,0.221699,0.242044,0.25461,0.31399,0.25183,0.245410,0.241676,0.287682,0.220323,1.0

In [159]:
train_len = len(train)
test_len = len(test)

In [160]:
y = Factorized_Data["loss"]

In [161]:
y = y[:train_len]
y_ScoringData = y[train_len:]

In [164]:
del(y_ScoringData)

In [166]:
Factorized_Data.drop(["loss"],1, inplace= True)

In [167]:
X = Factorized_Data[:train_len]
X_ScoringData = Factorized_Data[train_len:]

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1234)

In [130]:
LR = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [131]:
LR.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [133]:
y_pred = LR.predict(X_test)

In [136]:
mse = mean_squared_error(y_test, y_pred)
print mse
print np.sqrt(mse)

4596360.06039
2143.91232572

In [ ]:
LR.fit(X,y)

In [139]:
len(y_ScoringData)

0

In [168]:
LR.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [170]:
y_ScoringDataPred = LR.predict(X_ScoringData)

In [173]:
y_ScoringDataPred[:5]

array([  1119.05272164,   1937.81081868,  11322.5453392 ,   5728.27395863,
          -43.50264318])

In [177]:
X_ScoringData['id']

0              4
1              6
2              9
3             12
4             15
5             17
6             21
7             28
8             32
9             43
10            46
11            50
12            54
13            62
14            70
15            71
16            75
17            77
18            81
19            83
20            87
21            97
22           103
23           119
24           120
25           127
26           138
27           141
28           148
29           150
           ...
125516    587482
125517    587484
125518    587489
125519    587494
125520    587509
125521    587511
125522    587515
125523    587517
125524    587519
125525    587524
125526    587531
125527    587532
125528    587534
125529    587538
125530    587540
125531    587548
125532    587549
125533    587560
125534    587561
125535    587581
125536    587583
125537    587587
125538    587596
125539    587610
125540    587613
125541    587617
125542    587621
125543    587627
125544    587629
125545    587634
Name: id, dtype: int64

In [181]:
resultLR = pd.DataFrame({'id' : X_ScoringData['id'], 'loss' : y_ScoringDataPred})

In [183]:
resultLR.head()
display(len(resultLR))
display(len(X_ScoringData))

125546

125546

In [187]:
output_fname="result_submission_LR.csv"
resultLR.to_csv(output_fname, index=False)